#our_clients {

    .head_ {
        font-family: $theme;
        font-size: 20px;
        line-height: 24px;
        font-weight: 700px;
        color: #333333;
    }

    .body_ {
        margin-left: 20px;

        .top_row {
            display: flex;

            li {
                border: 2px solid #F7F7F7;
            }


        }

        .bottom_row {
            display: flex;

            li {
                border: 2px solid #F7F7F7;
            }

        }
    }
}

#our_blog {
    margin-top: 50px;


    .head_text {
        display: flex;
        justify-content: space-between;

        .left {
            font-family: $theme;
            font-size: 20px;
            line-height: 36px;
            font-weight: 700px;
            color: #333333;
        }
    }

    .right {
        font-family: $theme;
        font-size: 14px;
        line-height: 36px;
        font-weight: 700px;
        color: #333333;

        &:hover {
            cursor: pointer;
            color: #336699;
        }
    }

    .body_images {
        margin-top: 10px;
        display: inline;
        display: flex;

        .card_1 {

            margin-left: 20px;
            width: "295px";
            height: "190px";
            text-align: center;

            p {
                font-family: $theme;
                font-size: 14px;
                font-weight: 700px;
                color: #333333;

                &:hover {
                    cursor: pointer;
                    color: #336699;
                }
            }
        }

        .card_2 {

            margin-left: 20px;
            width: "295px";
            height: "190px";
            text-align: center;

            p {
                font-family: $theme;
                font-size: 14px;
               
                font-weight: 700px;
                color: #333333;

                &:hover {
                    cursor: pointer;
                    color: #336699;
                }
            }
        }

        .card_3 {

            margin-left: 20px;
            width: "295px";
            height: "190px";
            text-align: center;

            p {
                font-family: $theme;
                font-size: 14px;
                
                font-weight: 700px;
                color: #333333;

                &:hover {
                    cursor: pointer;
                    color: #336699;
                }
            }
        }

        .card_4 {

            margin-left: 20px;
            width: "295px";
            height: "190px";
            text-align: center;

            p {
                font-family: $theme;
                font-size: 14px;
             
                font-weight: 700px;
                color: #333333;

                &:hover {
                    cursor: pointer;
                    color: #336699;
                }
            }
        }



    }

    .body_text {}

}