#compare {

    .compare_head {
        padding: 50px 0px;
        text-align: center;
        font-family: $theme;
        font-size: 34px;
        font-weight: 700;
        color: #333333;
        background-color: #EEEEEE;

    }

    .compare_body {
        .directon {
            display: flex;
            gap: 5px;
            padding-top: 30px;

            p {
                font-family: $theme;
                font-size: 13px;
                font-weight: 500;
                color: #333333;
            }

            span {
                font-family: $theme;
                font-size: 13px;
                font-weight: 500;
                color: #333333;
            }
        }

        .body_content {
            i {
                margin: 0 45%;
                font-size: 100px;
            }

            p {
                text-align: center;
                font-family: $theme;
                font-size: 15px;
                font-weight: 600;
                color: #666666;
                margin-top: 20px;
            }

            .go_shop a {
                width: 200px;
                height: 46px;
                margin-top: 20px;
                margin-left: 42.5%;
                margin-bottom: 50px;
                text-align: center;
                font-family: $theme;
                font-size: 15px;
                font-weight: 600;
                color: #ffffff;
                padding-top: 10px;
                background-color: #336699;
                border-radius: 5px;

                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                -ms-border-radius: 5px;
                -o-border-radius: 5px;

                &:hover {
                    cursor: pointer;
                    background-color: #3C78B3;
                }
            }
        }
    }
}