#my_account {
    .info_bar {
        background-color: #EEEEEE;

        p {
            padding-top: 50px;
            padding-bottom: 50px;
            text-align: center;
            font-family: $theme;
            font-size: 34px;
            font-weight: 700;
            color: #333333;

        }
    }

    .content_body {
        .body_head {
            padding-top: 20px;
            display: flex;
            gap: 3px;

            .hom {
                text-align: center;
                font-family: $theme;
                font-size: 13px;
                font-weight: 400;
                color: #666666;

                &:hover {
                    cursor: pointer;
                    color: #333333;
                }

            }

            .acc {
                text-align: center;
                font-family: $theme;
                font-size: 13px;
                font-weight: 400;
                color: #333333
            }
        }
    }
}

#my_account {
    .main_body {
        
        margin: 50px 370px;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
        width: 500px;
        .modal-body {
            width: 500px;
            height: 600px;
            padding: 40px 50px 40px 50px;
            position: relative;

        }

        .modal-body .modal_form {
            padding-top: 30px;

        }

        .modal-body .modal_form .social_text {
            font-family: $theme;
            font-size: 14px;
            font-weight: 400;
            color: #666666;
            line-height: 22px;
            text-align: center;
            padding-bottom: 20px;

        }


        .modal-body .modal_form .social_icon {

            .fb_icon {
                width: 30px;
                height: 30px;
                color: #1b4f9b;
                text-align: center;
                font-size: normal;
                position: absolute;
                transform: translate(150px);
                -webkit-transform: translate(150px);
                -moz-transform: translate(150px);
                -ms-transform: translate(150px);
                -o-transform: translate(150px);
                padding-top: 2px;
                border: 1px solid #1b4f9b;
                border-radius: 25px;
                -webkit-border-radius: 25px;
                -moz-border-radius: 25px;
                -ms-border-radius: 25px;
                -o-border-radius: 25px;
                transition-duration: 1s;

                &:hover {
                    background-color: #1b4f9b;
                    color: white;
                }

            }

            .tw_icon {
                width: 30px;
                height: 30px;
                color: #00adef;
                text-align: center;
                font-size: normal;
                position: absolute;
                transform: translate(190px);
                -webkit-transform: translate(190px);
                -moz-transform: translate(190px);
                -ms-transform: translate(190px);
                -o-transform: translate(190px);
                padding-top: 2px;
                border: 1px solid #00adef;
                border-radius: 25px;
                -webkit-border-radius: 25px;
                -moz-border-radius: 25px;
                -ms-border-radius: 25px;
                -o-border-radius: 25px;
                transition-duration: 1s;

                &:hover {
                    background-color: #00adef;
                    color: white;
                }
            }

            .g_icon {
                width: 30px;
                height: 30px;
                color: #dd4b39;
                text-align: center;
                font-size: normal;
                position: absolute;
                transform: translate(230px);
                -webkit-transform: translate(230px);
                -moz-transform: translate(230px);
                -ms-transform: translate(230px);
                -o-transform: translate(230px);
                padding-top: 2px;
                border: 1px solid #dd4b39;
                border-radius: 25px;
                -webkit-border-radius: 25px;
                -moz-border-radius: 25px;
                -ms-border-radius: 25px;
                -o-border-radius: 25px;
                transition-duration: 1s;

                &:hover {
                    background-color: #dd4b39;
                    color: white;
                }
            }

        }

        .signup .social_text p {
            font-family: $theme;
            font-size: 14px;
            font-weight: 400;
            color: #666666;
            line-height: 22px;
            text-align: center;


        }

        .signup .social_icon {



            .fb_icon {
                width: 30px;
                height: 30px;
                color: #1b4f9b;
                text-align: center;
                font-size: normal;
                position: absolute;
                transform: translate(150px);
                -webkit-transform: translate(150px);
                -moz-transform: translate(150px);
                -ms-transform: translate(150px);
                -o-transform: translate(150px);
                padding-top: 2px;
                border: 1px solid #1b4f9b;
                border-radius: 25px;
                -webkit-border-radius: 25px;
                -moz-border-radius: 25px;
                -ms-border-radius: 25px;
                -o-border-radius: 25px;
                transition-duration: 1s;

                &:hover {
                    background-color: #1b4f9b;
                    color: white;
                }

            }

            .tw_icon {
                width: 30px;
                height: 30px;
                color: #00adef;
                text-align: center;
                font-size: normal;
                position: absolute;
                transform: translate(190px);
                -webkit-transform: translate(190px);
                -moz-transform: translate(190px);
                -ms-transform: translate(190px);
                -o-transform: translate(190px);
                padding-top: 2px;
                border: 1px solid #00adef;
                border-radius: 25px;
                -webkit-border-radius: 25px;
                -moz-border-radius: 25px;
                -ms-border-radius: 25px;
                -o-border-radius: 25px;
                transition-duration: 1s;

                &:hover {
                    background-color: #00adef;
                    color: white;
                }
            }

            .g_icon {
                width: 30px;
                height: 30px;
                color: #dd4b39;
                text-align: center;
                font-size: normal;
                position: absolute;
                transform: translate(230px);
                -webkit-transform: translate(230px);
                -moz-transform: translate(230px);
                -ms-transform: translate(230px);
                -o-transform: translate(230px);
                padding-top: 2px;
                border: 1px solid #dd4b39;
                border-radius: 25px;
                -webkit-border-radius: 25px;
                -moz-border-radius: 25px;
                -ms-border-radius: 25px;
                -o-border-radius: 25px;
                transition-duration: 1s;

                &:hover {
                    background-color: #dd4b39;
                    color: white;
                }
            }

        }

        .modal-body .signup {
            padding-top: 40px;

            .signup_label {

                font-family: $theme;
                font-size: 14px;
                font-weight: 400;
                color: #666666;
                line-height: 24px;
            }

            .signup_text {
                font-family: $theme;
                font-size: 13px;
                font-weight: 400;
                color: #666666;
                line-height: 24px;
                display: inline-block;
                text-align: center;
                padding-bottom: 20px;
            }

            a {
                font-family: $theme;
                font-size: 13px;
                font-weight: 400;
                color: #336699;
                line-height: 24px;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .head_navtab .nav {
            gap: 20px;
            flex-wrap: nowrap;


            button {
                width: 50%;
                color: #666;
                font-weight: 900;
            }

            .nav-link.active {
                color: #333333;
                background-color: transparent;
                border-color: transparent;
                border-bottom: 2px solid #336699;
            }

        }

        .head_navtab .user_text {
            font-family: $theme;
            font-size: 14px;
            font-weight: 400;
            color: #666666;
            line-height: 24px;
        }

        .head_navtab .checkbox_text {
            font-family: $theme;
            font-size: 14px;
            font-weight: 400;
            color: #666666;
            line-height: 24px;
            margin-left: 5px;
            cursor: pointer;
        }

        .head_navtab .lost_password {
            font-family: $theme;
            font-size: 13px;
            font-weight: 400;
            color: #a94442;
            line-height: 24px;
            padding-left: 130px;
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }


        }

        .head_navtab .password_text {
            font-family: $theme;
            font-size: 14px;
            font-weight: 400;
            color: #666666;
            line-height: 24px;
        }

        input[type=text],
        select {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

        input[type=submit] {
            width: 100%;
            height: 50px;
            background-color: #336699;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
        }
    }
}