#my_account{
    .info_bar{
           
        p{  
             text-align: center;
            font-family:$theme ;
            font-size:34px ;
            font-weight:700 ;
            color:#333333 ;

        }
    }
}