#wishlist{
   
    .wish_head{
        padding: 50px 0px;
        text-align: center;
        font-family: $theme;
        font-size:34px ;
        font-weight:700 ;
        color: #333333;
        background-color: #EEEEEE;

    }
    .wish_body{
        .directon{
            display: flex;
            gap: 5px;
            padding-top: 30px;
            p{font-family: $theme;
                font-size:13px ;
                font-weight:500 ;
                color: #333333;
            }
           
            span{font-family: $theme;
                font-size:13px ;
                font-weight:500 ;
                color: #333333;}
        }
        .body_content{
            i{margin:0 46%;
            font-size: 100px;}
            p{text-align: center;
                font-family: $theme;
                font-size:15px ;
                font-weight:600 ;
                color: #666666;
            margin-top:20px;}
            .go_shop{
                width: 200px;
                height: 46px;
                margin-top: 20px;
                margin-left:  42.5%;
                margin-bottom: 50px;
                text-align: center;
                font-family: $theme;
                font-size:15px ;
                font-weight:600 ;
                color: #ffffff;
                padding-top: 10px;
                background-color:#336699 ;
                &:hover{
                    cursor: pointer;
                    background-color: #3C78B3;
                }
            }
        }
    }
}