#my_account{
    .info_bar{
           background-color: #EEEEEE;
        p{  
            padding-top: 50px;
            padding-bottom: 50px;
             text-align: center;
            font-family:$theme ;
            font-size:34px ;
            font-weight:700 ;
            color:#333333 ;

        }
    }
}